@import "../src/less/uikit.theme.less";
@import "spearhead/_import.less";

// Your custom code goes here, e.g. mixins, variables.
@global-font-family: 'Nunito Sans', sans-serif;
@inverse-global-color-mode: none;
@global-primary-background: #5c0206;
@base-selection-background:  #700101;
@base-mark-background: #700101;
@base-mark-color: #ffffff;
@global-emphasis-color:  #cc0707;